.loading_spinner {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100vw;
  top: 0px;
  left: 0px;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: grid;
  z-index: 9999;
}

.loading_spinner img {
  align-self: end;
}

.loading_message {
  text-align: center;
  align-self: start;
}

.logo {
  width: 100px;
  height: 100px;
  background: url(../../images/logo/logo4.png) center center no-repeat;
}

.spinner {
  height: 130px;
  width: 130px;
  animation: rotate 2s linear infinite;
  transform-origin: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.spinner .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #006ba4;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
