.header {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
  margin: 20px 20px 0px 0px;
  color: #000;
}
.anchor {
  color: #133dd4;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.title {
  width:90%;
  font-size: 18px;
  font-weight: 600;
  margin: 0 15px 10px 10px;
  color: #000000;
}
.datepicker {
  background-color: #f0f6fe !important;
  border: none !important;
  width: 0%;
  box-shadow: none !important;
  margin-left: -35px;
  visibility: hidden;
}

.IMG {
  cursor: pointer;
  margin-top: -20px;
}
