.navbar{
    height:55px;
    width: 100%;
    border-bottom: 0.5px solid #A8B3BD;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.tabContainer{
    padding: 3px;
    background: #EEF0F2;
    gap: 5px;
    margin-inline: 10px;
    border-radius: 3px;
}

.activeTab{
    background: #DEEFFD;
    border: 0.5px solid #A8B3BD
}

.tabItem{
    padding: 3px;
    border-radius: 5px;
}
.filterBtn {
  background-color: rgba(255, 255, 255, 1);
  height: 42px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.08);
}
.checkbox {
  width: 22px;
  height: 22px;
}

