  .card6{
    width:100%;
    height:340px;
  }
  .tableHead{
   background-color: #04306F;
   border-radius: 12px;
   height:42px;
   /* position: sticky;
   top: 0; */
  }
  .description{
    font-size: 12px;
    font-weight: 400;
    color:#000
  } 
  .container{
    height:100%;
    overflow-y: scroll;
  }
