.btnColor {
  background-color: #043069;
  color: #fff;
}

.btnColor:disabled {
  background-color: #043069;
  color: #fff;
  cursor:no-drop;
}

.btnColor:hover {
  background-color: #6c9ddd;
  color: #fff;
}

.outer {
  border: 1px solid #043069;
  color: #043069;
}

.outer:hover {
  background-color: #6c9ddd;
  color: #fff;
}

.both{
  background-color: #241571;
  color:white;
  border-color: #241571;
}
.code{
  background-color: #F0F6FE;
  color:black;
  border-color: #F0F6FE;
}
