.pickerBox{
    display:flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    width:133px;
    height:35px;
}
.pickerBox .picker {
    background-color: #fff !important;
    border: none !important;
    width:100px;
    height:100%;
  }
.suffixIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
 