.container {
  width: 200px;
  height: 100px;
}

.cards {
  border-top: 5px;
  border-style: solid;
  border-color: #4a3aff;
  width: 350px;
  height: 185px;
  /* box-shadow: 0px 8px 10px -6px  #4A3AFF; */
  border-radius: 7px;
  padding: 10px;
}

.code {
  font-size: 14px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.codeAlign {
  font-size: 12px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chart td {
  border: 1px solid !important;
  border-color: inherit !important;
}
.chart td {
  border: 1px;
  border-style: revert-layer !important;
}

.chart td > div {
  margin: 0 20px;
}

.chart {
  padding-top: 30px;
  height: 78vh;
}

.chart table {
  border-collapse: initial;
}

.subCard {
  width: 350px;
  border: 1px solid #4a3aff;
  border-radius: 7px;
  margin-top: 20px;
}
