.author-profile .author-media img{
    width: 60px !important;
    height: 60px !important;
}
.author-profile{
    display: flex !important;
}
.ageDtails{
    margin-left: 30px;
}
.user-details{
    margin-top: 8px
}
.completed-dot{
    width: 10px;
    height: 10px;
    background: #14E600;
    display: inline-block;
    position: relative;
    left: 25px;
    border-radius: 100%;
    top: 1px;
}
.searchCard{
    width: 70% !important; 
    border: none !important;
    box-shadow: none !important;
}
.searchDoc {
 display: flex;
 justify-content: center;
}
.searchDoc input{
    background: #cccc !important;
}
.search-doc{
    width: 100% !important;
    margin-right: 15px;

}
.search-date{
    width: 50% !important;
}
