.cards-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 250px;
  min-height: 20vh;
  background-color: #fff;
  /* margin-left: 15pc; */
}
.cards-summary {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.4s;
  width: 100%;
  height: 279px;
  flex-shrink: 0;

  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.card-data{
    height: 100%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;

}
.cards-container-grid {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 250px;
  min-height: 20vh;
  background-color: #fff;
  /* margin-left: 15pc; */
}
.cards-summary-seperators {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.4s;
  width: 340px;
  height: 279px;
  flex-shrink: 0;

  border-radius: 16px;
  display: flex;
}
.cardd-header{
    display: flex;;
    justify-content: space-between;
    margin-bottom: 10px;
}
.header-h2 {
  margin: 50px;
}
.label-text {
  width: 110px;
  height: 25px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid #241571;
  background: #e9ebed;
  text-align: center;
  margin: 20px 0;
}
  .ant-picker{
        width:100px;
        border-radius: 20px;
        background-color: #DEDFDF;
       &:hover {
            border:none !important;
                }
                &:active {
                    border:none !important;
                        }
                        &:focused {
                            border:none !important;
                                }
                                &:focused{
                                    border-color: transparent;
                                }
}

.transparent {
  background-color: transparent !important;
}
.ageDtails1 {
  width: 100%;
  margin: auto;
  align-items: center;
}
.avatarDiv {
  width: 100%;
  margin: auto;
}
.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50px !important;
  /* background: #E9EBED; */
}
.dot{
    width:6px;height:6px;
    border-radius: 50%;
    background-color:#14E600; ;
}
.avatarContainer {
  width:20%;
  border-radius: 16px;
 display: flex;
  align-items: center;
  margin: auto;
  margin-bottom: 20px;
}
.dotContainer {
    width:40%;
    border-radius: 16px;
   display: flex;
    align-items: center;
    margin: auto;
    margin-top: 20px;
  }
.nameContainer {
  width: 110px;
  height:25px;
  border-radius: 16px;
  border: 1px solid #241571;
  background: #e9ebed;
  align-items: center;
  text-align: center;
  margin: auto;
}
.iconDiv {
  align-items: start;
  text-align: start;
}
.btnbox{
    background-color: #fff;
    /* border:none; */
    width:auto;
    cursor: pointer;
    margin-right: 20px;
   
}
.box{
    display: flex;
}
.activeButtonStyle {
    border-bottom: 2px solid #241571 !important;
    
  };
  .tableSyle{
    width:60% !important;
    margin:auto;
  }

  .tablecontainer>table>thead {
    /* border:1px solid red; */
    
    background-color: #E5E1FA !important;
    border-radius: 20px !important;
    color:#221C1C !important;
    border-bottom: none !important;
  }