/* .container_fluid_patient {
    margin-top: 100px !important;
} */

.patient_info_details svg {
  width: 25px;
  height: 25px;
}

.visitdata_header_card {
  border-radius: 8px;
  background: #e1edfe;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.08);
}

.visitdata_header_card > ul.nav.nav-pills.mix-chart-tab.nav {
  margin-top: -5px;
}

.visitdata_header_card > ul > li > .nav-link.active {
  border-radius: 12px !important;
  width: 80px !important;
  text-align: center;
}

.visitdata_header_card2 .nav-item .nav-link {
  color: #221c1c !important;
}

.visitdata_header_card2 .nav-item .nav-link.active {
  border-bottom: 3px solid #a20404 !important;
}

.hcc_title_card {
  border-radius: 12px;
  background: #e1ffe0;
  margin-bottom: 10px;
  position: sticky;
  top: 0;
  /* background-color: #ffffff; */
  z-index: 1;
}

.hcc_title_name {
  padding: 15px;
  
  border-radius: 10px;
  color: #221C1C;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-align: center;

  
}

.hcc_title_badge {
  background: #04b700;
  padding: 15px;
  border-radius: 12px;
  width: 55px;
  text-align: center;
  color: #fff;
  color: #fff;
  font-size: 14px;
}

.suggested_title_card {
  border-radius: 12px;
  background: #fff1e0;
  margin-bottom: 10px;
  position: sticky;
  top: 0;
  /* background-color: #ffffff; */
  z-index: 1;
}

.suggested_title_name {
  padding: 15px;
  border-radius: 10px;
  color: #221C1C;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.suggested_title_badge {
  background: #ff9209;
  padding: 15px;
  border-radius: 12px;
  width: 55px;
  text-align: center;
  color: #fff;
  color: #fff;
  font-size: 14px;
}

.deleted_title_card {
  border-radius: 12px;
  background: #f9e7e9;
  margin-bottom: 10px;
  position: sticky;
  top: 0;
  /* background-color: #ffffff; */
  z-index: 1;
}

.deleted_title_name {
  padding: 15px;
  border-radius: 10px;
  color: #221C1C;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.deleted_title_badge {
  background: #be3144;
  padding: 15px;
  border-radius: 12px;
  width: 55px;
  text-align: center;
  color: #fff;
  color: #fff;
  font-size: 14px;
}

.hcc_card {
  border-radius: 12px !important;
  border: 1px solid #e1e1e1 !important;
  margin: 0 0px;
  position: relative;
  transition: all 0.5s;
}
.hcc_card > .timeline-panel {
  display: flex;
  margin: 20px !important;
}

.actionbtnContainer {
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}

.declineBtn {
  border-radius: 8px !important;
  border: 1px solid #db1a1a !important;
  background: rgba(250, 209, 209, 0.3) !important;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.08) !important;
  color: #db1a1a !important;
  width: 160px;
}

.declineBtn i,
.holdBtn i,
.completedBtn i {
  margin-right: 5px;
}

.declineBtn i {
  position: relative;
  top: -0.8px;
}

.holdBtn {
  border-radius: 8px !important;
  border: 1px solid #bca7fb !important;
  background: rgba(218, 206, 253, 0.3) !important;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.08) !important;
  color: #bca7fb !important;
  width: 160px;
}

.completedBtn {
  border-radius: 8px !important;
  border: 1px solid #46c263 !important;
  background: rgba(217, 242, 223, 0.3) !important;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.08) !important;
  color: #46c263 !important;
  width: 170px;
}

.flag_container {
  width: 60px;
  height: 720px;
  border-radius: 8px;
  background: #e1edfe;
  float: right;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.08);
  margin-bottom: 25px;
}

.flag_container ul {
  margin-top: 15px;
  padding: 10px;
}

.flag_container li {
  cursor: pointer;
  width: 40px;
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  display: flex;
}
.flag_container i {
  display: flex;
}

.visitdata_header_card > .visitdata_tab_body {
  padding: 20px 0px 0px 0px !important;
}

.visitdata_tab_body {
  padding: 20px 0 0 0px;
}

.provider_name {
  border-radius: 6px;
  background: #e1edfe !important;
}

.provider_name i {
  margin-right: 5px !important;
}

.close_icon {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background: #fee1e1;
  text-align: center;
  margin-left: 3px;
  margin-top: 3px;
}
.close_icon svg {
  vertical-align: baseline !important;
}

.tick_icon {
    width: 26px;
    height: 26px;
    flex-shrink: 0;
  border-radius: 4px;
  background: #e2fee1;
  text-align: center;
  margin-left: 3px;
}

.combo_head_card {
    border-radius: 12px;
    background: #e1edfe;
    padding: 15px 15px 15px 15px;
    margin-bottom: 15px;
    position: sticky;
    top: 0;
    /* background-color: #ffffff; */
    z-index: 1;
}

.combo_details_card {
  border-radius: 12px;
  border: 1px solid #e1e1e1;
  padding: 15px 15px 15px 15px;
  margin-bottom: 15px;
}

.combo_add_btn {
  border-radius: 4px;
  background: #133dd4;
  width: 24px;
  height: 24px;
  border: none !important;
}

.meat_head_card {
    border-radius: 12px;
    background: #e1edfe;
    padding: 15px 15px 15px 15px;
    margin-bottom: 15px;
    position: sticky;
    top: 0;
    /* background-color: #ffffff; */
    z-index: 1;
}

.meat_details_card {
  border-radius: 12px;
  border: 1px solid #e1e1e1;
  padding: 15px 15px 15px 15px;
  margin-bottom: 15px;
}

.meat_details_card_false {
  border-radius: 12px;
  border: 1px solid red;
  padding: 15px 15px 15px 15px;
  margin-bottom: 15px;
}

.visitdata_header_title .nav-link.active.li {
  background: linear-gradient(95deg, #9dc4fb 5.8%, #fdbebe 92.76%) !important;
  width: 145px !important;
  text-align: center !important;
  padding: 10px !important;
  border-radius: 12px !important;
  color: #221C1C;
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.addPatientBtn {
  border-radius: 8px;
  border: 1px solid #133dd4;
  background: rgba(19, 61, 212, 0.15);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.08);
  color: #133dd4 !important;
}

.addPatientBtn:hover {
  background: rgba(19, 61, 212, 0.15) !important;
}

.comments_card {
  border-radius: 12px;
  background: #f0f6fe;
  padding: 15px;
  display: grid;
  margin-bottom: 20px;
}
.commentsFormControl {
  border-radius: 16px;
  border: 1px solid #cecece;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  padding: 15px;
}

.commentDrawer {
  width: 500px !important;
}

.commentsTagActive {
  background: linear-gradient(95deg, #9dc4fb 5.8%, #fdbebe 92.76%) !important;
  width: 40px;
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  display: flex;
}

.hcc_card_nameHead {
  display: flex;
  margin: 10px;
}
.navColor {
  color: black !important;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.profile-tab .nav-item .nav-link.active {
  border: 0;
  background: transparent;
  background: transparent;
  border-bottom: 0.0125rem solid purple !important;
}
.flags {
    display: flex;
    flex-direction: row;                                                                                                                                                                
    align-items: center;
    justify-content: center;
   
                                                                                                                                                                                                                                                                                                                                                                          ;


}
.flag {
  margin-right: 5px;
}
.flagCodes {
  margin-right: 20px;
  color: #000;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.nameList{
    color: #221C1C;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding: 10px;
}
.circleCard{
    width: 50px; /* Set the width and height to make it a circle */
  height: 50px;
  border-radius: 50%; /* Border-radius 50% makes it a circle */
  background: #FFF;
  fill: #FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); /* Add a background color */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 10px;
}
.timeLine{
    overflow: scroll;
}
.vertical-timeline--animate .vertical-timeline-element-content.bounce-in {
    width: 177px;
    height: 303px;
flex-shrink: 0;
background: #FFF !important;
}
.iconContainer{

    margin-right:20px
}
.content{
    position: absolute;
    left: 26pc;
}
.menuCard{
display: inline-flex;
padding: 15px 23px 21px 22px;
flex-direction: column;
align-items: flex-start;
gap: 19px;
border-radius: 8px;
background: #FFF;
box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.08);
position: relative;
right: 10pc;
bottom: 174px;
top: -126px;
cursor: pointer;
opacity: 10; /* Set initial opacity to 0 */
transition: opacity 0.8s ease-in-out; 
}
.sideTab{
    width: 194px;
height: 720px;
flex-shrink: 0;
border-radius: 12px;
background: #E1EDFE;
}
.patientListHead{
  margin: 0 !important;
}