.iconBorder {
  color: #04306f;
  border-radius: 50%;
  margin-top: 10px;
  width: 100%;
  font-size: 20px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconBorderFlex {
  color: #04306f;
  border-radius: 50%;
  width: 100%;
  font-size: 20px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
