.maincontainer {
  position: relative;
  top: 50px;
  height: auto;
  margin-bottom: 40px;
  padding-bottom: 10px;
}
.rowCOntainer {
  width: 95%;
  margin: auto;
  padding-top: 20px;
}
.box {
  margin-bottom: 10px;
}
