.maincontainer {
  position: relative;
  top: 50px;
  height: auto;
  margin-bottom: 40px;
  padding-bottom: 10px;
}
.rowCOntainer {
  width: 95%;
  margin: auto;
  padding-top: 20px;
}
.box {
  margin-bottom: 10px;
}
.count{
  font-weight: 700;
  font-size: 30px;
  margin:10px 0 0 0 ; 
}
.header{
  font-weight: 600;
  font-size: 16px;
}
