.head {
  padding: 2px;
  font-size: 20px !important;
}
.desc {
  color: #04306f;
  font-size: 20px;
}
.header {
  border: 1px solid #a4caf9;
  height: 222px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px;
}
.card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  min-height: 250px;
}
.code {
  color: #04306f;
  font-weight: 600;
}
.year{
  border:1px solid #04306F;
  padding:5px;
  border-radius: 6px;
}
.theader{
 
  border:1px solid #04306F;
  padding:5px;
  border-radius: 6px;
  margin-left:10px;
    
  
}