.bulletsDiv {
  /* margin-top: -60px; */
  height: 150px;
  overflow-y: hidden;
}
.bulletsDiv:hover {
  overflow-y: scroll;
}

.bulletsDiv::-webkit-scrollbar {
  width: 4px;
}

.bulletsDiv::-webkit-scrollbar-thumb {
  border-radius: 4px;
}
.title {
  font-size: 18px;
  font-weight: 600;
  margin: 0 15px 10px 10px;
  color: #000000;
}
.sliderdiv {
  margin-top: 10px;
  border-radius: 12px;
  height: 260px;
  box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.container {
  width: 90%;
  margin: auto;
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  cursor: pointer;
}

.bgColor {
  width: 10px;
  height: 10px;
  border-radius: 30%;
  margin: 6px 5px 0 0;
}
.infoCards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.insideCard {
  display: flex;
  margin: 15px;
  color: #000000;
}
.headerDisplay {
  display: flex;
}
.dateDisplay {
  font-weight: 700;
  margin-left: 10px;
}
.headerTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
  padding-top: 10px;
}
.ImgDIv {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.subText {
  width: 10%;
  display: flex;
  justify-content: end;
  align-items: end;
  margin-left: 20px;
  font-weight: 700;
}
.userNameTitle {
  width: 90px;
  font-size: 12px;
  font-weight: 600;
  margin-top: 3px;
}
