
  .buttonDiv {
   
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .selectContainer{
    display: flex;
    justify-content: center;
    position: relative;
    left:550px;
  }
  .picker {
    /* width: 30%; */
    display: flex;
    /* justify-content: space-between;  */
     margin-left: 600px;
  } 

  .card{
    width:50% !important;
    margin-left: 25px;

  }