.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.graph {
  width: 65%;
}
.calender {
  width: 33.4%;
}
.innerWrapper {
  display: flex;
  width:100%;
  justify-content: space-between;
}
.header {
  margin-top: -20px;
}
.calHeader{
  display: flex;
  width:70%;
}
.calHeader >span{
  font-size: 18px;
  font-weight: 600;
}
