.mainCard {
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.mainContainer {
  padding-top: 20px;
}
.headerTitle {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}
.headerName {
  color: #3070f5 !important;
  font-size: 20px !important;
}
.headerName2 {
  color: #3c9a92 !important;
  font-size: 20px !important;
}
.compareBtn {
  border: none !important;
  height: 30px !important;
  width: 130px !important;
  border-radius: 10px !important;
  background: #6ba6fa;
  color: #fff;
  font-size: 15px !important;
}

.addFileBtn {
  margin-left: 10px;
}

.headerTitle2 {
  margin-top: 20px;
  text-align: center;
  justify-content: center;
  background: #cee1fd;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}
.headerName3 {
  color: #000000 !important;
  font-size: 18px !important;
  line-height: 1.5;
}
.accuracyCard {
  border: 1px solid #d9d9d9;
  padding: 10px;
  border-radius: 8px;
  height: 300px;
}
.rafCard {
  border: 1px solid #d9d9d9;
  padding: 10px;
  border-radius: 8px;
  height: 250px;
}
.card2 {
  margin-left: 50px;
}
.accuracyCard2 {
  display: flex;
  justify-content: center;
}
.rafTitle {
  text-align: center;
}
.mainCard > .ant-progress-text {
  display: block !important;
}
.rafHeading1 {
  color: #3070f5 !important;
  font-size: 20px !important;
}
.rafHeading2 {
  color: #3c9a92 !important;
  font-size: 20px !important;
}
.rafPercentage {
  margin-top: 50px;
}
.accuracyConatiner {
  padding: 10px;
}
