.pdfViewerContainer > iframe{
    height: 96vh !important;
}
.pdfViewerContainerHalf > iframe{
    height: 76vh !important;
}
.emptyFileView{
    height: 76vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}