.chatContainer{
    margin-bottom: 10px;
}
.chatContainer2{
    border-radius: 20px;
}
.messageHeader{
    height: 50px;
    background: #f8f9fa;
}.messageContianer input{
    height: 35px !important;
    margin: 5px;
}
.chatHeader{
    height: 50px;
}
.chatHeadertext{
    padding: 12px 20px;
    display: flex;
}
.tabContainer{
    display: flex;
    justify-content: space-between;
    background: #fff;
    border-radius: 6px 6px 0 0px;

}
.form_submit_container{
    margin: 10px;
}
.timeFromNow{
    font-size: 12px !important;
    font-weight: 600;
}
.searchInput{
    border-radius: 20px !important
}
.unreadCount{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    padding: 0;
    font-weight: 600;
    background: #3479fe !important;
    text-align: center;
    color: #fff;
    font-size: 12px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}