
  .tabMainContainer {
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
    background-color: #E1EDFD;
  }
  .headerTitle {
    font-weight: 600;
    font-size: 14px;
    color: #221c1c;
  }
  .highPriority {
    background-color: #ff3131;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  .mediumPriority {
    background-color: #ff9320;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  .lowPriority {
    background-color: #f7da00;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  .tabContainer{
    padding-top: 52px;
  }
  .arrowBtn{
    padding-top: 60px;
  }
  
  @media (min-width: 1024px) and (max-width: 1500px) {
    .headerTitle {
      font-size: 8px !important;
      font-weight: 500;
    }
    .count{
      font-size: 10px !important;
    }
    .subText{
      font-size: 10px !important;
    }
  }
  
  .filterBtn {
  background-color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 8px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.08);
  padding:5px 10px;
  margin-bottom: 10px;
}
 