.text {
  font-size: 17px;
  font-weight: 500;
  display: flex;
  gap: 9px;
}
.head {
  font-weight: 600;
  padding: 2px;
  font-size: 17px;
  display: flex;
  justify-content: space-between;
}
.box {
  border: 1px solid #0f6adb;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
  border-radius: 7px;
  height: 300px;
  width: 600px;
}
.table {
  margin: 10px 20px 0px 20px;
}
.arrow {
  font-size: 18px;
}
.header2 {
  background: #0f6adb;
  color: white;
}
.header3 {
  background: #993300;
}
.tabledata {
  text-wrap: wrap;
}
.card {
  border: 1px solid #0f6adb;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 2px;
  border-radius: 7px;
  padding: 8px;
  width: 90%;
}
.codes {
  font-size: 15px;
  font-weight: 600;
  padding: 2px;
}
.list {
  width: 90%;
}
.code {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.card2 {
  border: 1px solid #0f6adb;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 2px;
  border-radius: 7px;
  padding: 8px;
}

.border {
  border: 1px solid black;
  margin: 0 19px;
}
.cardbody {
  border: 1px solid gray;
  padding: 0;
}
.cards {
  height: 200px !important;
  padding: 0;
}
.inclusionTerm {
  font-size: 16px;
}
.symbols {
  border: 1px solid #e6eeff;
  width: 90%;
  height: 50px;
  background: #e6eeff;
  margin-top: 10px;
}
.digit {
  font-weight: 600;
  font-size: 14px;
}
.term {
  border: 1px solid #241571;
  background: #241571;
  color: white;
  border-radius: 50%;
  padding: 2px;
  font-size: 12px;
  font-weight: 600;
}
.arrowleft {
  font-size: 16px;
  display: flex;
  gap: 6px;
  margin-top: 10px;
  padding-right: 20px;
}
.btn {
  background-color: #241571;
  color: white;
  border-color: #241571;
}
.includes {
  font-size: 17px;
  color: green;
  font-weight: 600;
 
}
.excludes {
  font-size: 16px;
  color: blue;
  font-weight: 600;
 
}
.parent {
  border: 1px solid #0f6adb;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 2px;
  min-height: 60px;
  overflow: scroll;
  width: 90%;
  scrollbar-width: none;
  padding: 3px;
  margin-top: 5px;
  border-radius: 7px;
  padding:9px;
}
