.btnActive {
  background-color: #bd83b8;
  color: #fff;
  border: none;
  width: 94px;
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.btnInactive {
  width: 94px;

  color: #9291a5;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.buttonContainter {
  height: 35px;
  border-radius: 16px;
  background-color: #f4ebf4;
  display: flex;
}
