.text {
  font-size: 17px;
  font-weight: 500;
  display: flex;
  gap: 9px;
}
.head {
  font-weight: 600;
  padding: 10px;
  font-size: 17px;
}
.box {
  border: 1px solid #a4caf9;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
  border-radius: 7px;
  height: 300px;
  width: 600px;
}
.table {
  margin:10px 20px 0px 20px
}
.arrow{
    font-size: 18px;
}
.header2{
    background:#004CB8 ;
}
.header3{
    background: #993300;
}
.tabledata{
    text-wrap: wrap;
}