.width_100 {
  width: 100px !important;
  border-right: 2px solid #e1e1e1 !important;
  border-radius: unset !important;
  font-weight: 700 !important;
  padding-left: 20px;
}
.width_300 {
  width: 300px !important;
  border-right: 2px solid #e1e1e1 !important;
  font-weight: 700 !important;
}
.width1_100 {
  width: 100px !important;
  border-left: 2px solid #e1e1e1 !important;
  border-radius: unset !important;
  font-weight: 700 !important;
}
.borderBox {
  border-right: 0.3px solid #e1e1e1 !important;
  font-weight: 700 !important;
}
.borderBox2 {
  border-left: 0.3px solid #e1e1e1 !important;
  border-radius: unset !important;
  font-weight: 700 !important;
}
.classThead {
  background: #e1edfe !important;
  padding: 15px 20px !important;
  border-radius: unset !important;
}
.classThead th {
  color: #000 !important;
  padding: 15px 15px !important;
  border-radius: none !important;
}

.classTable > thead {
  background-color: #e1edfe !important;
}

.classTable {
  width: 100%;
}
.bodytable > td:first-child,
.classThead > :first-child {
  border-radius: none !important;
}
.bodytable > td:last-child,
.classThead > :last-child {
  border-radius: none !important;
}
.classTable table th {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.classTable td:first-child,
.classTable th:first-child {
  border-radius: none !important;
}
.classTable td:last-child,
.classTable th:last-child {
  border-radius: none !important;
}

.classTable {
  width: 100%;
  border-collapse: collapse;
}

.classThead {
  position: sticky;
  top: 0;
  z-index: 1;
  border-radius: none !important;
}
.classTable &::-webkit-scrollbar {
  width: 12px;
}

.classTable &::-webkit-scrollbar-thumb {
  background-color: #241571;
}
.classTable &::-webkit-scrollbar-track {
  background-color: #fafcff;
}

.classContaineer {
  overflow: scroll;
  padding: 10px;
}
.trDiv {
  background: #ffff !important;
}
.firstTdBorder {
  border: 0.1px solid #e1e1e1 !important;
  /* border-left: 0.2px solid #e1e1e1;
  border-bottom: 0.2px solid #e1e1e1;
  border-right: 0.2px solid #e1e1e1; */
}
.childBorder {
  border: 0.1px solid #e1e1e1 !important;
  /* border-bottom: 0.2px solid #e1e1e1; */
}
.lastBorder {
  border: 0.1px solid #e1e1e1;
  /* border-bottom: 0.2px solid #e1e1e1;
  border-right: 0.2px solid #e1e1e1; */
}
.classTable tbody tr td {
  font-size: 13px;
  font-weight: 400;
  padding: 15px 15px;
  color: #000 !important;
}
.classTable tbody tr {
  text-align: left;
  margin-left: 20px;
}
.classTable thead tr {
  text-align: left;
}
.classTable tbody tr:hover {
  cursor: pointer;
  /* border-radius: 10px 10px 10px 10px !important; */
  background-color: #ffff !important;
}
.stickeyRaf_head {
  min-height: 69vh;
  max-height: 69vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.classTable table {
  border: 1px solid black;
  border-collapse: collapse;
}

.v24B_color {
  background: #fafafa;
}

.v28B_color {
  background: #f5f2f2;
}
.total_score {
  background: #e5dcdc;
}
.rafCard1 {
  border: 1px solid #f5f5f5;
  border-radius: 6px !important;
}
.rafCard2 {
  border: 1px solid #f5f5f5;
  border-radius: 6px !important;
}
.titleHead {
  background: #f5f5f5;
  /* height: 20px; */
  padding: 10px;
  margin: 10px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
}
.rafMainCard1 {
  width: 40%;
  margin-right: 10px;
}
.rafMainCard2 {
  width: 40%;
  margin-right: 10px;
}
.detailsHead {
  padding: 10px 20px 10px 20px;
  /* margin: 10px; */
  border-radius: 6px;
  font-size: 13px;
  font-weight: 600;
}
.totalScoreContainer {
  display: flex;
}
.rafScoreCard1 {
  border: 1px solid #f5f5f5;
  max-height: auto;
  min-height: 100px;
  border-radius: 6px !important;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  width: 33%;
  margin-right: 10px;
}
.rafScoreCard2 {
  border: 1px solid #f5f5f5;
  max-height: auto;
  min-height: 100px;
  border-radius: 6px !important;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  width: 33%;
  margin-right: 10px;
}
.rafScoreMainCard1 {
  width: 50%;
  margin-right: 10px;
}
.raflableheadOverall {
  box-shadow: 0 3px 10px rgba(220, 199, 199, 0.2);
  border: 1px solid rgba(220, 199, 199, 0.2);
  background-color: rgb(37, 150, 190);
  color: #fff !important;
  display: inline-flex;
  align-items: center;
  height: 30px;
  padding: 10px;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 3px;
}
.rafchildBorder {
  border-bottom: 1px solid #d5d3d3;
  padding-bottom: 10px;
  height: 30px;
}
.detailsraf {
  height: 25px;
}
.titleHead2 {
  background: #f5f5f5;
  margin: 10px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
}
.premiumHead {
  padding: 10px;
  padding-left: 20px;
}
.premiumHead2 {
  padding: 10px;
  padding-left: 20px;
}
.rafDescription {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 20px;
  width: 75%;
}
.stickyHeader {
  min-height: 20vh;
  max-height: 45vh;
  overflow-y: hidden;
}
.stickyHeader:hover {
  overflow-y: scroll;
}
